* {
    text-align: center;
    text-wrap: auto;
    background-color: rgb(212, 212, 212);
    z-index: 1;
}

html {
    scroll-behavior: smooth;
}

#Main {
    background-color: rgb(212, 212, 212);
    text-align: center;
    color: rgb(25, 15, 170);
    font-size: 10vw;
}

#p1 {
    font-size: 5vw;
    color: rgb(174, 54, 54);
}

.photo {
    animation: reveal both;
    animation-timeline: view(50% 10%);
    max-width: 50%;
    height: auto;
    margin: auto;
}

@keyframes reveal {
    from {
        filter: saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
    }
    to {
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}

.age-list {
    animation: change both;
    animation-timeline: view(50% 10%);
}

.age-list::before {
    content: "Age-18";
    animation: changeText 5s linear ;
}

@keyframes change {
    0% {
        content: "Age-18"; 
    }

    33% {
        content: "Age-17";
    }

    66% {
        content: "Age-16"
    }
    100% {
        content: "Age-15";
    }
}
