* {
    text-wrap: auto;
    background-color: rgb(212, 212, 212);
}

html {
    scroll-behavior: smooth;
}


#Main {
    background-color: rgb(212, 212, 212);
    text-align: center;
    color: rgb(25, 15, 170);
    font-size: 10vw;
}

p {
    font-size: 3vw;
    color: rgb(174, 54, 54);
    text-align: left;
    animation: text both;
    animation-timeline: view(50% 10%);
}

@keyframes text {
    from {
        filter: none;
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
    }
    to {
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}

.photo {
    height: auto;
    max-width: 40%;
    animation: reveal both;
    animation-timeline: view(50% 10%);
}

.photo-row {
    display: flex;
    justify-content: center;   /* centers horizontally */
    align-items: center;       /* centers vertically */
    gap: 2vw;                  /* space between images */
    flex-wrap: wrap;           /* allows wrapping if screen is small */
}

@keyframes reveal {
    from {
        filter: saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
    }
    to {
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}
#number-changing {
    overflow: hidden;
    height: 5vw;
    width: fit-content;
    margin: auto;
}

.age-list {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    animation: change 3.14159265s linear forwards;
}

.age-list span {
    height: 5vw;
    line-height: 5vw;
    font-size: 4vw;
    color: rgb(54, 68, 174);
    text-align: center;
}

@keyframes change {
    0%   { transform: translateY(0); }
    20%  { transform: translateY(-5vw); }
    55%  { transform: translateY(-10vw); }
    100% { transform: translateY(-15vw); }
}

#idk{
    text-align: center;
    font-size: 2vw;
}


