*{
    text-align: center;
    text-wrap: auto;
    background-color:rgb(212, 212, 212);
    z-index: 1;
}
html{
    scroll-behavior:smooth;
}
#Main{
    background-color:rgb(212, 212, 212);
    text-align: center;
    color: rgb(25, 15, 170);
    font-size: 10vw ;
}

#p1{
    font-size: 5vw;
    color: rgb(195, 85, 85)
}